<h3>KV Hry</h3>
<p>KV Hry jsou jedny z nejpropracovanějších her vůbec. Jejich hlavní výhodou je fakt, že všechny mají svojí komunitu skvělých lidí, nesmrtelné hry jako Agent nebo New Studio jsou stále velmi populární.
<p style="margin: 1px">K nejpopulárnějším hrám patří:
<ol>
  <li><b>Agent 2</b><small>(2013)</small> - nejpopulárnější hra KV</li>
  <li><b>New Studio Enhanced</b><small>(2022)</small> - nejnovější remaster od KV</li>
  <li><b>Better Diablo</b><small>(2012)</small> - nejlepší ARPG hra, KV však muselo Blizzardu zaplatit pokutu 69 mil. dolarů!</li>
  <li><b>Agent Online</b><small>(2005)</small> - "Nová" verze Agenta 1 s lepší grafikou, opravenými bugy a s mnohem větší variací buildů. Dodnes tato hra získává, i když malé, updaty a nové sezóny.</li>
  <li><b>Blastoff 3</b><small>(2018)</small> - Nejlepší hra všech dob co se týče grafiky a optimalizace. Singleplayer střílečka ze třetí osoby byla hodnocena nejlepší hrou roku 2018, 2019, 2020, 2021, 2022, 2023 a 2024!</li>
</ol>
